<nav>
    <div class="left">
        <a href="/">Maxence Mercier</a>
    </div>

    <div class="right">
        <a href="https://github.com/Hatcattt" target="_blank" rel="noreferrer">
            <i class="fa-brands fa-github"/>
            <span>Github</span>
        </a>
        <a href="https://linkedin.com/in/maxence-mercier-269036281" target="_blank" rel="noreferrer">
            <i class="fa-brands fa-linkedin" />
            <span>Linkedin</span>
        </a>
        <a href="mailto:hatcattt.dev@gmail.com">
            <i class="fa-solid fa-envelope" />
            <span>Email</span>
        </a>
    </div>
</nav>