@page "/"

<PageTitle>Hatcattt's Portfolio</PageTitle>

@* Bio Section *@
<section class="bio-section">
    <div class="text">
        <h2>Hi, I'm Maxence 👋</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Mauris ex ex, vestibulum vitae luctus a, sagittis ac tortor. 
            Vivamus ultricies metus ut ipsum pellentesque efficitur. Ut rhoncus tempus porttitor. 
            Nulla a tellus at justo pellentesque gravida quis in nisl. 
            Aenean rutrum justo eget semper vulputate. 
            Quisque dapibus vehicula tortor nec lobortis. Etiam at suscipit lacus. 
            Mauris auctor, dolor at tristique fringilla, 
            massa elit blandit quam, at vestibulum felis felis malesuada purus.
        </p>
        <div class="links">
            <a href="#experience">
                <i class="fa-solid fa-briefcase"></i>
                <span>Xp</span>
            </a>

            <a href="#education">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Education</span>
            </a>

            <a href="#skills">
                <i class="fa-solid fa-code"></i>
                <span>Skills</span>
            </a>

            <a href="#projects">
                <i class="fa-solid fa-gear"></i>
                <span>Projects</span>
            </a>

            <a href="#interests">
                <i class="fa-solid fa-heart"></i>
                <span>Interests</span>
            </a>
        </div>
    </div>

    <div class="headshoot">
        <img src="images/hatcattt-headshoot.webp"/>
    </div>
</section>

@* Experiences Section *@
<section id="xp-section" class="xp-section">
    <h2>Experiences</h2>
    <div class="work-info">
        <u>
            <a href="https://ngroup.be/"></a>
        </u>
    </div>
    <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris ex ex, vestibulum vitae luctus a, sagittis ac tortor.
    </div>
</section>

@* Skills Section *@
<section id="skills" class="skills-section">
    <h2>Skills</h2>
    <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris ex ex, vestibulum vitae luctus a, sagittis ac tortor.
        Vivamus ultricies metus ut ipsum pellentesque efficitur. Ut rhoncus tempus porttitor.
        Nulla a tellus at justo pellentesque gravida quis in nisl.
        Aenean rutrum justo eget semper vulputate.
    </div>
    <div class="cells">
        <div class="cell">
            <img src="images/csharp-logo.webp" alt="csharp logo" />
            <span>C#</span>
        </div>
        <div class="cell">
            <img src="images/blazor-logo.webp" alt="blazor logo" />
            <span>Blazor</span>
        </div>
        <div class="cell">
            <img src="images/aspdotnet-logo.webp" alt="asp.net core logo" />
            <span>ASP.NET</span>
        </div>
        <div class="cell">
            <img src="images/wpf-logo.webp" alt="wpf logo" />
            <span>WPF</span>
        </div>
        <div class="cell">
            <img src="images/html5-logo.webp" alt="html logo" />
            <span>HTML</span>
        </div>
        <div class="cell">
            <img src="images/css3-logo.webp" alt="css logo" />
            <span>CSS</span>
        </div>
    </div>
</section>

@* Education Section *@
<section id="education">
    <h2>Education</h2>
</section>

@* Projects Section *@
<section id="projects">

</section>

@* Interests Section *@
<section id="interests">

</section>