@page "/"

<PageTitle>Hatcattt's Portfolio</PageTitle>

@* Bio Section *@
<section class="bio-section">
    <div class="text">
        <h2>Hi, I'm Maxence 👋</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Mauris ex ex, vestibulum vitae luctus a, sagittis ac tortor. 
            Vivamus ultricies metus ut ipsum pellentesque efficitur. Ut rhoncus tempus porttitor. 
            Nulla a tellus at justo pellentesque gravida quis in nisl. 
            Aenean rutrum justo eget semper vulputate. 
            Quisque dapibus vehicula tortor nec lobortis. Etiam at suscipit lacus. 
            Mauris auctor, dolor at tristique fringilla, 
            massa elit blandit quam, at vestibulum felis felis malesuada purus.
        </p>
        <div class="links">
            <a href="#experience">
                <i class="fa-solid fa-briefcase"></i>
                <span>Xp</span>
            </a>

            <a href="#education">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Education</span>
            </a>

            <a href="#skills">
                <i class="fa-solid fa-code"></i>
                <span>Skills</span>
            </a>

            <a href="#projects">
                <i class="fa-solid fa-gear"></i>
                <span>Projects</span>
            </a>

            <a href="#interests">
                <i class="fa-solid fa-heart"></i>
                <span>Interests</span>
            </a>
        </div>
    </div>

    <div class="headshoot">
        <img src="images/hatcattt-headshoot.webp" alt="hatcattt's headshoot"/>
    </div>
</section>

@* Experiences Section *@
<section id="xp-section" class="xp-section">
    <h2>Experiences</h2>
    <div class="works">

        <div class="work">
            <div class="job-info">
                <h3>Analyste - Développpeur</h3>
                <a href="https://www.ngroup.be" target="_blank" rel="noreferrer">
                    <h4>NGROUP</h4>
                </a>
                <div class="info">
                    <ul>
                        <li>Développement d'un logiciel sur-mesure de gestion de dotations.</li>
                        <li>Mise en oeuvre d’une architecture en couches.</li>
                        <li>Utilisation du framework Blazor en mode Server pour une réactivité maximale.</li>
                        <li>Sécurité : Authorisation et Authentification avec Identity. Simple système RBAC.</li>
                        <li>Utilisation de Entity Framework Core comme ORM.</li>
                        <li>SQL Server, SSMS, approche Code First, migrations.</li>
                    </ul>
                </div>
            </div>
            <div class="job-date">
                <strong class="date">Décembre 2023 à Mars 2024</strong>
            </div>
        </div>

        <div class="work">
            <div class="job-info">
                <h3>Stagiaire Analyste - Développpeur</h3>
                <a href="https://www.ngroup.be" target="_blank" rel="noreferrer">
                    <h4>NGROUP</h4>
                </a>
                <div class="info">
                    <ul>
                        <li>Analyse et conception d'un logiciel sur-mesure de gestion de dotations.</li>
                        <li>Documentation de l'analyse conceptuelle et fonctionnelle.</li>
                        <li>Diagramme schéma entité assoiation, Use case, BPMN.</li>
                        <li>Choix des technologies employées pour le développement.</li>
                    </ul>
                </div>
            </div>
            <div class="job-date">
                <strong class="date">Juillet 2023 à Décembre 2023</strong>
            </div>
        </div>

        <div class="work">
            <div class="job-info">
                <h3>Stagiaire Analyste</h3>
                <a href="https://www.nrb.be" target="_blank" rel="noreferrer">
                    <h4>NRB</h4>
                </a>
                <div class="info">
                    <ul>
                        <li>Travail d'analyse dans un contexte de système Mainframes.</li>
                        <li>Conception d'une solution pour optimiser la facturation client.</li>
                    </ul>
                </div>
            </div>
            <div class="job-date">
                <strong class="date">Fevrier 2023 à Avril 2023</strong>
            </div>
        </div>
    </div>
</section>

@* Skills Section *@
<section id="skills" class="skills-section">
    <h2>Skills</h2>
    <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris ex ex, vestibulum vitae luctus a, sagittis ac tortor.
        Vivamus ultricies metus ut ipsum pellentesque efficitur. Ut rhoncus tempus porttitor.
        Nulla a tellus at justo pellentesque gravida quis in nisl.
        Aenean rutrum justo eget semper vulputate.
    </div>
    <div class="cells">
        <div class="cell">
            <img src="images/csharp-logo.webp" alt="csharp logo" />
            <span>C#</span>
        </div>
        <div class="cell">
            <img src="images/blazor-logo.webp" alt="blazor logo" />
            <span>Blazor</span>
        </div>
        <div class="cell">
            <img src="images/aspdotnet-logo.webp" alt="asp.net core logo" />
            <span>ASP.NET</span>
        </div>
        <div class="cell">
            <img src="images/wpf-logo.webp" alt="wpf logo" />
            <span>WPF</span>
        </div>
        <div class="cell">
            <img src="images/html5-logo.webp" alt="html logo" />
            <span>HTML</span>
        </div>
        <div class="cell">
            <img src="images/css3-logo.webp" alt="css logo" />
            <span>CSS</span>
        </div>
    </div>
</section>

@* Education Section *@
<section id="education">
    <h2>Education</h2>
</section>

@* Projects Section *@
<section id="projects">
    <h2>Projects</h2>
</section>

@* Interests Section *@
<section id="interests">
    <h2>Interests</h2>
</section>