@page "/"

<PageTitle>Hatcattt's Portfolio</PageTitle>

<ScrollToTopButton />

@* Bio Section *@
<section class="bio-section">
    <div class="text">
        <h2>Hey, bienvenue 👋</h2>
        <p>
            Perfectionniste, optimiste et toujours prêt à aider, je suis un développeur en devenir, passionné par la création de solutions propres et efficaces. 
            Ancien pâtissier, j'ai troqué la farine et le sucre contre le code et les algorithmes, trouvant dans l'informatique un nouveau terrain d'expression et de défis à relever.
            <br/><br/>Chaque jour est pour moi l’occasion d’apprendre, d’évoluer et de relever de nouveaux challenges avec enthousiasme. Bonne visite !
        </p>
        <div class="links">
            <a href="#xp-section">
                <i class="fa-solid fa-briefcase"></i>
                <span>Expériences</span>
            </a>

            <a href="#education">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Éducation</span>
            </a>

            <a href="#skills">
                <i class="fa-solid fa-code"></i>
                <span>Compétences</span>
            </a>

            <a href="#projects">
                <i class="fa-solid fa-gear"></i>
                <span>Projects</span>
            </a>
        </div>
    </div>

    <div class="headshot">
        <img src="images/hatcattt-headshot.webp" alt="hatcattt's headshot"/>
    </div>
</section>

@* Experiences Section *@
<section id="xp-section" class="xp-section">
    <h2>Expériences</h2>
    <div class="works">
        <div class="work">
            <div class="job-info">
                <h3>Analyste - Développeur</h3>
                <a href="https://www.ngroup.be" target="_blank" rel="noreferrer">
                    <h4>NGROUP</h4>
                </a>
                <div class="info">
                    <ul>
                        <li>Développement d’un logiciel sur mesure pour la gestion des dotations.</li>
                        <li>Mise en œuvre d’une architecture en couches (n-tier / Clean).</li>
                        <li>Utilisation de Blazor Server pour offrir une interface réactive et fluide.</li>
                        <li>Implémentation de la sécurité avec ASP.NET Identity (auth, RBAC simplifié).</li>
                        <li>Intégration d’Entity Framework Core comme ORM.</li>
                        <li>Utilisation de SQL Server et SSMS avec approche Code First et gestion des migrations.</li>
                    </ul>
                </div>
            </div>
            <div class="job-date">
                <strong class="date">Décembre 2023 – Mars 2024</strong>
            </div>
        </div>
        <hr />
        <div class="work">
            <div class="job-info">
                <h3>Stagiaire Analyste - Développeur</h3>
                <a href="https://www.ngroup.be" target="_blank" rel="noreferrer">
                    <h4>NGROUP</h4>
                </a>
                <div class="info">
                    <ul>
                        <li>Analyse et conception d’un logiciel sur mesure pour la gestion des dotations.</li>
                        <li>Rédaction de la documentation d’analyse conceptuelle et fonctionnelle.</li>
                        <li>Réalisation de diagrammes (entité-association, cas d’utilisation, BPMN).</li>
                        <li>Sélection des technologies adaptées pour le développement.</li>
                    </ul>
                </div>
            </div>
            <div class="job-date">
                <strong class="date">Juillet 2023 – Décembre 2023</strong>
            </div>
        </div>
        <hr />
        <div class="work">
            <div class="job-info">
                <h3>Stagiaire Analyste</h3>
                <a href="https://www.nrb.be" target="_blank" rel="noreferrer">
                    <h4>NRB</h4>
                </a>
                <div class="info">
                    <ul>
                        <li>Analyse dans un environnement de systèmes mainframe.</li>
                        <li>Conception d’une solution visant à optimiser la facturation client.</li>
                    </ul>
                </div>
            </div>
            <div class="job-date">
                <strong class="date">Février 2023 – Avril 2023</strong>
            </div>
        </div>
    </div>
</section>

@* Skills Section *@
<section id="skills" class="skills-section">
    <h2>Compétences</h2>
    <div class="text">
        Grâce à mes expériences professionnelles et à mes projets personnels, j’ai développé des compétences solides en langages de programmation et frameworks. 
        Je souhaite renforcer mon expertise back-end avec ASP.NET Core et Blazor, tout en m’ouvrant au développement multiplateforme (MAUI) et à JavaScript.
    </div>
    <div class="cells">
        <div class="cell">
            <img src="images/csharp-logo.webp" alt="csharp logo" />
            <span>C#</span>
        </div>
        <div class="cell">
            <img src="images/blazor-logo.webp" alt="blazor logo" />
            <span>Blazor</span>
        </div>
        <div class="cell">
            <img src="images/aspdotnet-logo.webp" alt="asp.net core logo" />
            <span>ASP.NET</span>
        </div>
        <div class="cell">
            <img src="images/wpf-logo.webp" alt="wpf logo" />
            <span>WPF</span>
        </div>
        <div class="cell">
            <img src="images/html5-logo.webp" alt="html logo" />
            <span>HTML</span>
        </div>
        <div class="cell">
            <img src="images/css3-logo.webp" alt="css logo" />
            <span>CSS</span>
        </div>
    </div>
</section>

@* Education Section *@
<section id="education" class="education-section">
    <h2>Éducation</h2>
    <div class="schools">
        <div class="card">
            <img src="images/education/bac-info.webp" class="card-img-top" alt="Bachelier en informatique">
            <div class="card-body">
                <h5 class="card-title fw-bold">Bachelier en informatique</h5>
                <h6 class="school-date">Sep 2019 – Avr 2025</h6>
                <p class="card-text">Formation en horaire décalé offrant une vision complète du métier d’informaticien, alliant théorie et pratique.</p>
                <p>Grade : Diplômé avec <span class="fw-bold">distinction</span>.</p>
                <div class="school-link">
                    <a href="https://esa-namur.be/" target="_blank" rel="noreferrer">
                        École Supérieure des Affaires – Namur
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="images/education/patissier.webp" class="card-img-top" alt="Pâtisserie">
            <div class="card-body">
                <h5 class="card-title fw-bold">IFAPME – Pâtisserie</h5>
                <h6 class="school-date">Sep 2015 – Juin 2018</h6>
                <p class="card-text">Formation axée sur la rigueur, la précision et l’organisation, développant à la fois la créativité et le sens du détail.</p>
                <p>Grade : Diplômé.</p>
                <div class="school-link">
                    <a href="https://www.ifapme.be/centre-de-formations/villers-le-bouillet" target="_blank" rel="noreferrer">
                        IFAPME de Villers-Le-Bouillet
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="images/education/infographiste.webp" class="card-img-top" alt="Infographie">
            <div class="card-body">
                <h5 class="card-title fw-bold">IFAPME – Infographie</h5>
                <h6 class="school-date">Sep 2012 – Juin 2014</h6>
                <p class="card-text">Formation orientée sur le développement de compétences créatives, graphiques et de communication visuelle.</p>
                <p>Grade : N/A</p>
                <div class="school-link">
                    <a href="https://www.ifapme.be/centre-de-formations/dinant" target="_blank" rel="noreferrer">
                        IFAPME de Dinant
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

@* Projects Section *@
<section id="projects" class="project-section">
    <h2>Projets personnels</h2>
    <div class="text">
        Voici une sélection de projets personnels open source disponibles sur GitHub !
    </div>
    <div class="projects">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <span class="title">Pomodoro App</span>
                        <div class="flags">
                            <div class="flag">C#</div>
                            <div class="flag">WPF</div>
                        </div>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="infos">
                            <img src="images/projects/capture-pomodoro-app.png" alt="pomodoro app capture"/>
                            <div class="info-right">
                                <p><strong>Pomodoro App</strong> 🍅 est un outil windows de productivité inspiré de la célèbre méthode Pomodoro.</p>
                                <h5>Features</h5>
                                <ul>
                                    <li>Minuteur configurable pour le travail et les pauses</li>
                                    <li>Notifications sonores et visuelles (windows taskbar)</li>
                                    <li>Implémentation du pattern 
                                        <a href="https://en.wikipedia.org/wiki/Model-view-viewmodel" target="_blank" rel="noreferrer">MVVM</a>
                                    </li>
                                    <li>Interface simple et épurée en XAML</li>
                                </ul>
                                <div class="github-link">Source code : 
                                    <a href="https://github.com/Hatcattt" target="_blank" rel="noreferrer">
                                        <i class="fa-brands fa-github"></i>
                                        <span>Github</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <span class="title">Blue Bear</span>
                        <div class="flags">
                            <div class="flag">C#</div>
                            <div class="flag">Asp.Net</div>
                            <div class="flag">React</div>
                        </div>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="infos">
                            <img src="images/projects/capture-pomodoro-app.png" alt="pomodoro app capture"/>
                            <div class="info-right">
                                <p><strong>Pomodoro App</strong> 🍅 est un outil de productivité inspiré de la célèbre méthode Pomodoro.</p>
                                <h5>Features</h5>
                                <ul>
                                    <li>Minuteur configurable pour le travail et les pauses</li>
                                    <li>Notifications sonores et visuelles (windows taskbar)</li>
                                    <li>Implémentation du pattern 
                                        <a href="https://en.wikipedia.org/wiki/Model-view-viewmodel" target="_blank" rel="noreferrer">MVVM</a>
                                    </li>
                                    <li>Interface simple et épurée en XAML</li>
                                </ul>
                                <div class="github-link">Source code : 
                                    <a href="https://github.com/Hatcattt" target="_blank" rel="noreferrer">
                                        <i class="fa-brands fa-github"></i>
                                        <span>Github</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <span class="title">Simple Library</span>
                        <div class="flags">
                            <div class="flag">C#</div>
                            <div class="flag">WPF</div>
                        </div>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="infos">
                            <img src="images/projects/capture-pomodoro-app.png" alt="pomodoro app capture"/>
                            <div class="info-right">
                                <p><strong>Pomodoro App</strong> 🍅 est un outil de productivité inspiré de la célèbre méthode Pomodoro.</p>
                                <h5>Features</h5>
                                <ul>
                                    <li>Minuteur configurable pour le travail et les pauses</li>
                                    <li>Notifications sonores et visuelles (windows taskbar)</li>
                                    <li>Implémentation du pattern 
                                        <a href="https://en.wikipedia.org/wiki/Model-view-viewmodel" target="_blank" rel="noreferrer">MVVM</a>
                                    </li>
                                    <li>Interface simple et épurée en XAML</li>
                                </ul>
                                <div class="github-link">Source code : 
                                    <a href="https://github.com/Hatcattt" target="_blank" rel="noreferrer">
                                        <i class="fa-brands fa-github"></i>
                                        <span>Github</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <span class="title">Tic Tac Toe</span>
                        <div class="flags">
                            <div class="flag">Java</div>
                            <div class="flag">Swing</div>
                        </div>
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="infos">
                            <div class="info-left">
                                <img src="images/projects/capture-tictactoe.png" alt="tic tac toe capture"/>
                            </div>
                            <div class="info-right">
                                <p>
                                    <strong>Tic Tac Toe</strong> est un jeu développé en <strong>Java</strong> 
                                    avec l'API <strong>Swing</strong>, inspiré du jeu oxo.
                                </p>
                                <h5>Fonctionnalités principales</h5>
                                <ul>
                                    <li>🚥 You can choose a difficulty to have a challenge!</li>
                                    <li>👀 The game status is printed in real time.</li>
                                    <li>🔄️ There is a reset button to reset the game.</li>
                                </ul>
                                <div class="github-link">Source code : 
                                    <a href="https://github.com/Hatcattt/TicTacToe" target="_blank" rel="noreferrer">
                                        <i class="fa-brands fa-github"></i>
                                        <span>Github</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
