@page "/"

<PageTitle>Hatcattt's Portfolio</PageTitle>

<ScrollToTopButton />

@* Bio Section *@
<section class="bio-section">
    <div class="text">
        <h2>Hey, <strong>bienvenue</strong> 👋</h2>
        <p>
            Perfectionniste, optimiste et toujours prêt à aider, je suis un <strong>développeur en devenir</strong>, ultra enthousiaste par la création de solutions propres et efficaces. 
            <strong>Ancien pâtissier</strong>, j'ai troqué la farine et le sucre contre le code et les algorithmes, trouvant dans l'informatique un nouveau terrain d'expression et de <strong>défis à relever</strong>.
            <br/><br/>Chaque jour est pour moi l’occasion d’apprendre, d’évoluer et de relever de nouveaux challenges avec enthousiasme. <strong>Bonne visite</strong> !
        </p>
        <div class="links">
            <a href="#xp-section">
                <i class="fa-solid fa-briefcase"></i>
                <span>Expériences</span>
            </a>

            <a href="#education">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Éducation</span>
            </a>

            <a href="#skills">
                <i class="fa-solid fa-code"></i>
                <span>Compétences</span>
            </a>

            <a href="#projects">
                <i class="fa-solid fa-gear"></i>
                <span>Projects</span>
            </a>
        </div>
    </div>

    <div class="headshot">
        <img src="images/hatcattt-headshot.webp" alt="hatcattt's headshot"/>
    </div>
</section>

@* Experiences Section *@
<section id="xp-section" class="xp-section">
    <h2>Expériences</h2>
    <div class="works">
        <div class="work">
            <div class="job-info">
                <h3 class="grey-subtitle">Analyste - Développeur</h3>
                <a href="https://www.ngroup.be" target="_blank" rel="noreferrer">
                    <h4>NGROUP</h4>
                </a>
                <div class="info">
                    <ul>
                        <li>Développement d’un logiciel <strong>sur mesure</strong> de gestion de dotations.</li>
                        <li>Mise en œuvre d’une architecture en couches (n-tier / Clean).</li>
                        <li>Utilisation de Blazor Server pour offrir une interface réactive et fluide.</li>
                        <li>Implémentation de la sécurité avec <strong>ASP.NET Identity</strong> (auth, RBAC simplifié).</li>
                        <li>Intégration d’Entity Framework Core comme ORM.</li>
                        <li>Utilisation de SQL Server et SSMS avec approche <strong>Code First</strong> et gestion des migrations.</li>
                    </ul>
                </div>
            </div>
            <div class="job-date">
                <strong class="date">Décembre 2023 – Mars 2024</strong>
            </div>
        </div>
        <hr />
        <div class="work">
            <div class="job-info">
                <h3 class="grey-subtitle">Stagiaire Analyste - Développeur</h3>
                <a href="https://www.ngroup.be" target="_blank" rel="noreferrer">
                    <h4>NGROUP</h4>
                </a>
                <div class="info">
                    <ul>
                        <li><strong>Analyse et conception</strong> d’un logiciel sur mesure pour la gestion des dotations.</li>
                        <li>Rédaction de la documentation d’analyse conceptuelle et fonctionnelle.</li>
                        <li>Réalisation de <strong>diagrammes</strong> (entité-association, cas d’utilisation, BPMN).</li>
                        <li>Sélection des technologies adaptées pour le développement.</li>
                    </ul>
                </div>
            </div>
            <div class="job-date">
                <strong class="date">Juillet 2023 – Décembre 2023</strong>
            </div>
        </div>
        <hr />
        <div class="work">
            <div class="job-info">
                <h3 class="grey-subtitle">Stagiaire Analyste</h3>
                <a href="https://www.nrb.be" target="_blank" rel="noreferrer">
                    <h4>NRB</h4>
                </a>
                <div class="info">
                    <ul>
                        <li>Analyse dans un environnement de systèmes mainframe.</li>
                        <li><strong>Conception</strong> d’une solution visant à optimiser la facturation client.</li>
                    </ul>
                </div>
            </div>
            <div class="job-date">
                <strong class="date">Février 2023 – Avril 2023</strong>
            </div>
        </div>
    </div>
</section>

@* Skills Section *@
<section id="skills" class="skills-section">
    <h2 class="text-center mb-4">Compétences et connaissances</h2>
    <p class="text-center text-muted text">
        Je suis un développeur entry-level avec une première expérience à travers mon projet de fin d'études : <strong>Matrix</strong>. 
        J’ai acquis des bases solides en développement web et en gestion de données, et je continue à élargir mes compétences en explorant de nouvelles technologies.
    </p>
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h5 class="card-title">Langages & technos front-end</h5>
                    <p class="card-text">
                        <span class="badge bg-primary me-1">C#</span>
                        <span class="badge bg-primary me-1">HTML5</span>
                        <span class="badge bg-primary me-1">CSS3</span>
                        <span class="badge bg-primary me-1">XAML</span>
                        <span class="badge bg-primary me-1">SQL</span>
                        <span class="badge bg-primary me-1">Java</span>

                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h5 class="card-title">Frameworks & Bibliothèques</h5>
                    <p class="card-text">
                        <span class="badge bg-light text-dark border me-1">Blazor</span>
                        <span class="badge bg-light text-dark border me-1">ASP.NET Core</span>
                        <span class="badge bg-light text-dark border me-1">Link</span>
                        <span class="badge bg-light text-dark border me-1">Entity Framework Core</span>
                        <span class="badge bg-light text-dark border me-1">WPF / MAUI</span>
                        <span class="badge bg-light text-dark border me-1">XUnit</span>

                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h5 class="card-title">Analyse et architecture</h5>
                    <p class="card-text">
                        <span class="badge bg-light text-dark border me-1">Analyse UML</span>
                        <span class="badge bg-light text-dark border me-1">Architecture n-tier</span>
                        <span class="badge bg-light text-dark border me-1">MVVM</span>
                        <span class="badge bg-light text-dark border me-1">Clean Architecture</span>
                        <span class="badge bg-light text-dark border me-1">SOLID</span>
                        <span class="badge bg-light text-dark border me-1">KISS</span>
                        <span class="badge bg-light text-dark border me-1">YAGNI</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h5 class="card-title">Outils & Technologies</h5>
                    <p class="card-text">
                        <span class="badge bg-dark me-1">Git</span>
                        <span class="badge bg-dark me-1">Rider</span>
                        <span class="badge bg-dark me-1">Visual Studio</span>
                        <span class="badge bg-dark me-1">Docker</span>
                        <span class="badge bg-dark me-1">SQL Server / SSMS</span>
                        <span class="badge bg-dark me-1">Jira</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

@* Education Section *@
<section id="education" class="education-section">
    <h2>Éducation</h2>
    <div class="schools">
        <div class="card shadow-sm h-100">
            <div class="card-image-container">
                <img src="images/education/bac-info.webp" class="card-img-top" alt="Bachelier en informatique">
                <h5 class="card-image-title">Bachelier en informatique</h5>
            </div>
            <div class="card-body">
                <h6 class="school-date">Sep <strong>2019</strong> – Avr <strong>2025</strong></h6>
                <p class="card-text">Formation en horaire décalé offrant une vision complète du métier d'informaticien, alliant théorie et pratique.</p>
                <p>Grade : Diplômé avec <span class="fw-bold">distinction</span>.</p>
                <div class="school-link">
                    <a href="https://esa-namur.be/" target="_blank" rel="noreferrer">
                        École Supérieure des Affaires – Namur
                    </a>
                </div>
            </div>
        </div>
        <div class="card shadow-sm h-100">
            <div class="card-image-container">
                <img src="images/education/patissier.webp" class="card-img-top" alt="Pâtisserie">
                <h5 class="card-image-title">IFAPME en pâtisserie</h5>
            </div>
            <div class="card-body">
                <h6 class="school-date">Sep <strong>2015</strong> – Juin <strong>2018</strong></h6>
                <p class="card-text">Formation axée sur la rigueur, la précision et l'organisation, développant à la fois la créativité et le sens du détail.</p>
                <p>Grade : Diplômé.</p>
                <div class="school-link">
                    <a href="https://www.ifapme.be/centre-de-formations/villers-le-bouillet" target="_blank" rel="noreferrer">
                        IFAPME de Villers-Le-Bouillet
                    </a>
                </div>
            </div>
        </div>
        <div class="card shadow-sm h-100">
            <div class="card-image-container">
                <img src="images/education/infographiste.webp" class="card-img-top" alt="Infographie">
                <h5 class="card-image-title">IFAPME en infographie</h5>
            </div>
            <div class="card-body">
                <h6 class="school-date">Sep <strong>2012</strong> – Juin <strong>2014</strong></h6>
                <p class="card-text">Formation orientée sur le développement de compétences créatives, graphiques et de communication visuelle.</p>
                <p>Grade : N/A</p>
                <div class="school-link">
                    <a href="https://www.ifapme.be/centre-de-formations/dinant" target="_blank" rel="noreferrer">
                        IFAPME de Dinant
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<ProjectsSection />
